.fixed-size-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.fixed-size-portrait-image {
  width: 200px;
  height: 100px;
  object-fit: cover;
  margin-left: 50px;
}

/* Zoom-In Effect */
.card img {
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.1);
}

.font-cursive-text {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-size: 23px;
}